@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.checkbox {
  display: none;
  /* Hide the default checkbox */
}
* {
  /* background-color: #7d7d7d2f; */
}

.checkbox + label {
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  color: #2b2f38;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
}

@media screen and (max-width: 320px) {
  .checkbox + label {
    font-size: 12px;
  }
}

.checkbox + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 2px solid #b9bdc7;
  background: #fff;
}

.checkbox:checked + label:before {
  border-radius: 6px;
  border: 2px solid black;
  background: black;
}

.checkbox + label:after {
  content: "";
  position: absolute;
  left: 6.5px;
  top: 2px;
  width: 7px;
  height: 13px;
  flex-shrink: 0;
  border: solid #fff;
  border-width: 0 2.8px 2.8px 0;
  border-radius: 2px;
  transform: rotate(45deg);
  opacity: 0;
}

.checkbox:checked + label:after {
  opacity: 1;
}

.checkbox:checked + label:after {
  opacity: 1;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input {
  @apply outline-none;
}

.customizeCalender {
  border: none;
}

.react-calendar__tile {
  border-radius: 50px;
  font-weight: 500;
}

.react-calendar__tile--now {
  background: black;
  color: #fff;
}

/* react-calendar__month-view__days__day */

/* react-calendar__tile--now react-calendar__tile--active react-calendar__tile--range react-calendar__tile--rangeStart react-calendar__tile--rangeEnd react-calendar__tile--rangeBothEnds react-calendar__month-view__days__day */

.react-calendar {
  width: 600px;
  padding: 5px;
  max-width: 100%;
  background-color: white;
  color: rgb(41, 38, 38);
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.12em;
}

.react-calendar__navigation__label {
  color: #7d7d7d;
  font-weight: 500;
  order: 0;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.react-calendar__navigation__next-button {
  order: 2;
}

.react-calendar__navigation__prev-button {
  order: 1;
}

.react-calendar__navigation {
  margin-bottom: 0;
}

.react-calendar__navigation button {
  color: #000000;
  min-width: 50px;
  font-size: 15px;
  background: none;
}

.react-calendar__navigation__arrow {
  min-width: 30px !important;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #fff;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

abbr[title] {
  text-decoration: none;
}

.react-calendar__month-view__days__day--weekend {
  color: #b43838;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  color: white;
  background: black;
  border-radius: 50px;
}

.react-calendar__tile--now {
  background: #fff;
  border-radius: 50px;
  font-weight: bold;
  color: #7d7d7d;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  color: white !important;
  background: black;
  border-radius: 50px;
  font-weight: bold;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  color: white !important;
  background: #f8f8fa;
}

.react-calendar__tile--active {
  background: black;
  border-radius: 50px;
  font-weight: bold;
  color: white !important;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: black;
  color: white !important;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
  color: white !important;
}

.react-calendar__tile--range {
  background: #f8f8fa;
  color: #ffffff;
  border-radius: 50px;
  flex: 0 0 15.2857%;
}

.react-calendar__tile--rangeStart {
  border-radius: 50px;
  background: black;
  color: white;
}

.react-calendar__tile--rangeEnd {
  border-radius: 50px;
  background: black;
  color: white;
}

.react-calendar__navigation {
  display: flex !important;
  justify-content: space-between !important;
}

.react-calendar__month-view__days__day--weekend {
  color: #000000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #a19f9f;
}

/* react-calendar__tile react-calendar__month-view__days__day react-calendar__month-view__days__day--neighboringMonth */

.marker {
  /* Set the marker size here */
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  /* Set the marker color here */
  background: #aa3300;

  display: inline-block;
  border-bottom-right-radius: 0;
  position: relative;
  transform: rotate(45deg);

  /* optional fanciness */
  border: 1px solid #881100;
}

/* inner circle (optional if you don't need the central dot) */
.marker::before {
  content: "";
  background: white;
  width: 50%;
  height: 50%;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* optional fanciness */
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
}

/* shadow (optional if you don't need a shadow) */
.marker::after {
  content: "";
  background: rgba(128, 128, 128, 0.2);
  width: 75%;
  height: 75%;
  border-radius: 100%;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%) rotate(45deg) scaleX(0.5);
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.wrapper:hover {
  z-index: 1;
}

.leaflet-container {
  width: 80%;
  height: 50vh;
}
.fileContainer .uploadPictureContainer {
  width: 40%;
  height: auto;
}
